.text-center{
    text-align: center;
}
.container{
    margin: auto;
    display:flex;
    flex-direction: column;
    text-align: center;
    
}
button{
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}
.display{
    margin: 0px;
    padding: 10px;
    font-weight: bold;
}
input{
    padding: 6px 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 13px;
}
.button-header button{
    background-color: rgb(198, 195, 195);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button-operational{
    background-color: rgb(241, 197, 40);
    color: white;
    font-weight: bold;
}
.button-zero{
    width: 110px;
    padding:0px 10px 0 10px;
    border-radius: 25px;
}